build/*
out/*
.vs/*
.vscode/*
GED_CORE/bin/*
GED_CORE/obj/*

test/bin/*
test/obj/*

GED_CORE/*Test
GED_CORE/*Test.exe

GED_CORE/Ctrl/MousePoint.cs
GED_CORE/Cam/RectPrm.cs
GED_CORE/DisplayWizard/MinCtrlWin.cs

GED_CORE/lib*
GED_CORE/*-Test*
